<!doctype html>
<html>

<head>
    <title>RPi Server</title>
</head>

<body>
    <h1>QL-500 Printer</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="file" accept="image/*">

        <label for="copies">Copies</label>
        <input type="text" id="copies" name="copies"></p>

        <p><label for="stag">Single Tag:</label>
        <input type="text" id="stag" name="stag"></p>

        <p><label for="tags">Labdoo Tags (Separated by;):</label>
        <input type="text" id="tags" name="tags">
        <input type="checkbox" id="device_id" name="device_id" value="device" checked>
        <label for="device_id"> Device Tag label </label>
        <input type="checkbox" id="battery" name="battery" value="battery" checked>
        <label for="battery"> Battery label </label>
        <input type="checkbox" id="power_adaptor" name="power_adaptor" value="power_adaptor" checked>
        <label for="power_adaptor"> Power Adaptor label </label>

        </p>

        <p><input type="submit" value="Print!"></p>
    </form>

    <br></br>
    </form>
</body>

</html>